<div class="main-menu-content">
    <!-- <app-users-menu [users]="users"></app-users-menu> -->
    <div>
        <h3>USERS</h3>
        <ng-container *ngFor="let user of users">
            <p routerLink="{{user.id}}">{{user.name}}</p>
        </ng-container>
    </div>
    <!-- <app-user-details></app-user-details> -->
    <!-- <app-user-content></app-user-content> -->
    <router-outlet></router-outlet>
</div>